<%= form_for(@book_new) do |f| %>
 <div class="field row">
    <h4>Title</h4>
    <%= f.text_field :title , class:"col-xs-12" %>
</div>
<div class="field row">
    <h4>Opinion</h4>
    <%= f.text_area :body , class:"col-xs-12"%>
</div>
 <p></p>
  <div class="actions row">
    <input type="submit" name="commit" value="Create Book" class="btn btn-primary col-xs-12" data-disable-with="Create Book">
 </div>
<% end %>